body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  text-align: left;
  padding: 50px;
}

h1 {
  color: #ff0000;
  font-size: 3em;
}
h2 {
  color: #ff0000;
  font-size: 2em;
}
p {
  font-size: 1.5em;
  color: #555;
}

a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background-color: #2980b9;
}
